<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name = "ERUCoreServer" connectionString="Data Source=96.9.71.139,1690;Initial Catalog=ERUCoreServer;Persist Security Info=True;User ID=UserSMS;Password=aib@2023!@#123"
			  providerName="System.Data.SqlClient"/> 
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>